<div class="logs-container">
  <h2>{{ 'LOG_PAGE.TITLE' | translate }}</h2>
  <p>{{ 'LOG_PAGE.SUBTITLE' | translate }}</p>

  <div class="log-list">
   <div *ngFor="let log of logs" 
       class="log-item" 
       [ngClass]="log.level === 'WARN' ? 'edge-warn' : 'edge-info'">
    
    <span class="log-time">[{{ log.timestamp | date:'dd.MM.yyyy HH:mm:ss' }}]</span>
    
    <span class="log-badge" 
          [ngClass]="log.level === 'WARN' ? 'badge-warn' : 'badge-info'">
      {{ log.level }}
    </span>
    
    <span class="log-message">
      {{ 'LOG_ACTIONS.' + log.actionCode | translate: { domain: log.domainName } }}
    </span>
  
  </div>
  </div>
