<mat-card class="p-4 shadow-sm">
  <h3 style="color: #3f51b5;">{{ 'DOMAIN_PAGE.BLOCK_SYSTEM' | translate }}</h3>
  <form [formGroup]="domainForm" (ngSubmit)="addDomain()" class="d-flex gap-2 align-items-center">
    <mat-form-field appearance="outline" class="flex-grow-1">
      <mat-label>{{ 'DOMAIN_PAGE.ENTER_DOMAIN' | translate }}</mat-label>
      <input matInput formControlName="domainInput" placeholder="google.com">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="domainForm.invalid">Ekle</button>
  </form>
</mat-card>